<footer id="footer">
	<div class="inner">
		<div class="footer-block">
			<a href="<%= RELATIVE_PATH %>" class="footer-logo">
				<img src="<%= RELATIVE_PATH %>img/common/footer-logo.svg" alt="3CGROUP">
			</a>
			<div class="footer-ct">
				<div class="footer-ct__item">
					<h3 class="footer-ct__ttl">Về 3C</h3>
					<ul>
						<li><a href="">Sứ mệnh</a></li>
						<li><a href="">Giá trị cốt lõi</a></li>
					</ul>
				</div>
				<div class="footer-ct__item">
					<h3 class="footer-ct__ttl">Tin tức</h3>
					<ul>
						<li><a href="">Tin tức mới nhất</a></li>
						<li><a href="">Thư viện hình ảnh</a></li>
					</ul>
				</div>
				<div class="footer-ct__item">
					<h3 class="footer-ct__ttl">Sản phẩm</h3>
					<ul>
						<li><a href="">Trò chơi trực tuyến</a></li>
						<li><a href="">Giải pháp công nghệ</a></li>
					</ul>
				</div>
				<div class="footer-ct__item">
					<h3 class="footer-ct__ttl">Đội ngũ</h3>
					<ul>
						<li><a href="">Cuộc sống tại 3C</a></li>
						<li><a href="">Cơ hội nghề nghiệp</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-note">
			<div class="footer-note--left">
				<div class="footer-note__copyright">
					© 3C GROUP. All rights reserved. 
				</div>
				<ul class="footer-note__menu">
					<li><a href="">3C Group Profile</a></li>
					<li><a href="">Liên hệ</a></li>
				</ul>
			</div>
			<div class="footer-note--right">
				<ul class="footer-note__sns">
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-facebook.svg" alt="facebook"></a></li>
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-in.svg" alt="in"></a></li>
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-youtube.svg" alt="youtube"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>