<main id="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-banner">
			<img src="<%= RELATIVE_PATH %>img/news/mv-news.jpg" alt="3CGROUP" class="pc">
			<img src="<%= RELATIVE_PATH %>img/news/mv-news-sp.jpg" alt="3CGROUP" class="sp">
		</div>
		<div class="inner">
			<div class="mv-note">
				<h1 class="mv-note__ttl">Tin nổi bật</h1>
				<p>3C GAME trở thành đối tác lớn nhất của VTC GAME</p>
				<a href="">Tìm hiểu thêm</a>
			</div>
		</div>
	</section>
	<section class="top-news">
		<div class="inner">
			<h2 class="c-ttl__01">Tin tức</h2>
			<ul class="news-list">
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/top/news-img-01.jpg" alt="img">
						</div>
						<div class="news-list__ct">
							<span class="news-list__ct-date">10:00 AM | 26/01/2025</span>
							<h3 class="news-list__ct-ttl">
								3CGAME ký hợp đồng với đối tác ra mắt sản phẩm game Chân Long Mobile - 3C
							</h3>
							<p>Lãnh đạo Liên đoàn Lao động TP.HCM, Báo Người Lao Động và Công ty Cổ phần ZION (đơn vị chủ quản Zalopay) đã trao tặng vé xe và quà cho 411 đoàn viên công</p>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/top/news-img-02.jpg" alt="img">
						</div>
						<div class="news-list__ct">
							<span class="news-list__ct-date">10:00 AM | 26/01/2025</span>
							<h3 class="news-list__ct-ttl">
								3CGAME ký hợp đồng với đối tác ra mắt sản phẩm game Chân Long Mobile - 3C
							</h3>
							<p>Lãnh đạo Liên đoàn Lao động TP.HCM, Báo Người Lao Động và Công ty Cổ phần ZION (đơn vị chủ quản Zalopay) đã trao tặng vé xe và quà cho 411 đoàn viên công</p>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/top/news-img-03.jpg" alt="img">
						</div>
						<div class="news-list__ct">
							<span class="news-list__ct-date">10:00 AM | 26/01/2025</span>
							<h3 class="news-list__ct-ttl">
								3CGAME ký hợp đồng với đối tác ra mắt sản phẩm game Chân Long Mobile - 3C
							</h3>
							<p>Lãnh đạo Liên đoàn Lao động TP.HCM, Báo Người Lao Động và Công ty Cổ phần ZION (đơn vị chủ quản Zalopay) đã trao tặng vé xe và quà cho 411 đoàn viên công</p>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/top/news-img-04.jpg" alt="img">
						</div>
						<div class="news-list__ct">
							<span class="news-list__ct-date">10:00 AM | 26/01/2025</span>
							<h3 class="news-list__ct-ttl">
								3CGAME ký hợp đồng với đối tác ra mắt sản phẩm game Chân Long Mobile - 3C
							</h3>
							<p>Lãnh đạo Liên đoàn Lao động TP.HCM, Báo Người Lao Động và Công ty Cổ phần ZION (đơn vị chủ quản Zalopay) đã trao tặng vé xe và quà cho 411 đoàn viên công</p>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/top/news-img-02.jpg" alt="img">
						</div>
						<div class="news-list__ct">
							<span class="news-list__ct-date">10:00 AM | 26/01/2025</span>
							<h3 class="news-list__ct-ttl">
								3CGAME ký hợp đồng với đối tác ra mắt sản phẩm game Chân Long Mobile - 3C
							</h3>
							<p>Lãnh đạo Liên đoàn Lao động TP.HCM, Báo Người Lao Động và Công ty Cổ phần ZION (đơn vị chủ quản Zalopay) đã trao tặng vé xe và quà cho 411 đoàn viên công</p>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/top/news-img-03.jpg" alt="img">
						</div>
						<div class="news-list__ct">
							<span class="news-list__ct-date">10:00 AM | 26/01/2025</span>
							<h3 class="news-list__ct-ttl">
								3CGAME ký hợp đồng với đối tác ra mắt sản phẩm game Chân Long Mobile - 3C
							</h3>
							<p>Lãnh đạo Liên đoàn Lao động TP.HCM, Báo Người Lao Động và Công ty Cổ phần ZION (đơn vị chủ quản Zalopay) đã trao tặng vé xe và quà cho 411 đoàn viên công</p>
						</div>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<div class="news-list__img">
							<img src="<%= RELATIVE_PATH %>img/top/news-img-04.jpg" alt="img">
						</div>
						<div class="news-list__ct">
							<span class="news-list__ct-date">10:00 AM | 26/01/2025</span>
							<h3 class="news-list__ct-ttl">
								3CGAME ký hợp đồng với đối tác ra mắt sản phẩm game Chân Long Mobile - 3C
							</h3>
							<p>Lãnh đạo Liên đoàn Lao động TP.HCM, Báo Người Lao Động và Công ty Cổ phần ZION (đơn vị chủ quản Zalopay) đã trao tặng vé xe và quà cho 411 đoàn viên công</p>
						</div>
					</a>
				</li>
			</ul>
			<h2 class="c-ttl__01">Hình ảnh của 3C GROUP</h2>
			<div class="pc">
				<ul class="tab-menu">
					<li class="active">Tất cả</li>
					<li>Văn phòng</li>
					<li>Hoạt động</li>
				</ul>
				<div class="tab-content">
					<div class="tab-content__item active">
						<ul class="fill-img">
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-01.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-02.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-03.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-04.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-05.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-06.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-07.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-08.jpg" alt="3CGROUP" >
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-content__item">
						<ul class="fill-img">
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-01.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-04.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-07.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-08.jpg" alt="3CGROUP" >
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-content__item">
						<ul class="fill-img">
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-02.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-03.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-05.jpg" alt="3CGROUP" >
								</div>
							</li>
							<li class="fill-img__item">
								<div class="fill-img__img">
									<img src="<%= RELATIVE_PATH %>img/news/img-06.jpg" alt="3CGROUP" >
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="c-al--r">
					<a href="" class="view-more">Xem thêm</a>
				</div>
			</div>
		</div>
	</section>
</main>